.iso-animate {
  overflow: hidden;
  &[data-iso-animate="fade"] {
    opacity: 0;
    transition: opacity var(--duration, 250ms) ease-in-out;
    &.iso-animate-active {
      opacity: 1;
    }
  }
  &[data-iso-animate="fade-scale"] {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity var(--duration, 250ms) ease-in-out,
      transform var(--duration, 250ms) ease-in-out;
    &.iso-animate-active {
      opacity: 1;
      transform: scale(1);
    }
  }
  &[data-iso-animate="fade-translate"] {
    &[data-iso-animate-origin="top"] {
      transform: translateY(-50%);
    }
    &[data-iso-animate-origin="left"] {
      transform: translateX(-50%);
    }
    &[data-iso-animate-origin="right"] {
      transform: translateX(50%);
    }
    &[data-iso-animate-origin="bottom"] {
      transform: translateY(50%);
    }
    opacity: 0;
    transition: opacity var(--duration, 250ms) ease-in-out,
      transform var(--duration, 250ms) ease-in-out;
    &.iso-animate-active {
      opacity: 1;
      transform: translate(0);
    }
  }
}
